.footer {
  padding: 50px 0;
  background-color: $color-second;
  text-transform: uppercase;
}

.locations {
  // display: flex;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;

  @media (min-width: 690px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 970px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1280px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.location {
  width: 100%;
  margin-bottom: 30px;

  &__title {
    font-size: 2em;
    line-height: 1.1875em;
  }

  &__place {
    color: $color-white;
  }

  &__separator {
    background-color: $color-main;
    height: 2px;
    border: 0;
    width: 7px;
    margin: 10px 0;
  }

  &__hours {
    margin: 0;
  }
}

// @media (min-width: 690px) {
//   .location {
//     width: 50%;
//   }
// }

// @media (min-width: 1040px) {
//   .location {
//     width: 33%;
//   }
// }

.social-links {
  font-size: .75em;
  text-align: center;
  a {
    display: block;
    margin: 8px 0;
  }
}

@media (min-width: 500px) {
  .social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    a {
      margin: 3px 0;
    }
  }
}
