.main {
  background-color: $color-main;
  background-image: linear-gradient($color-second 2px, transparent 2px), linear-gradient(90deg, $color-second 2px, transparent 2px);
  color: $color-white;
  position: relative;
  z-index: 2;
  text-align: center;
  background-position-x: -1px;
  background-size: 20vw 20vw;
}

.roi {
  padding: 20px 0 110px;

  &__title {
    font-size: 2em;

    &--hidden {
      visibility: hidden;
    }
  }
}

.floating-sausage {
  position: fixed;
  top: 10vh;
  width: #{80vw};
  transform-origin: center center;

  @media (min-width: 769px) {
    width: #{(316 / 792) * 100vw};
  }

  &--left {
    left: #{50vw - 40vw};
    transform: translateY(0) rotate(315deg);
    z-index: 2;

    @media (min-width: 769px) {
      left: #{25vw - ((316 / 792) * 50vw)};
      opacity: 1;
    }
  }

  &--right {
    opacity: 0;
    transform: translateY(0) rotate(-235deg);
    z-index: 4;

    @media (min-width: 769px) {
      right: #{25vw - ((316 / 792) * 50vw)};
      opacity: 1;
    }
  }
}
